# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller build artifacts
*.spec

# IDE and Editor settings
.vscode/
*.swp